#
# $Id: control 16 2011-08-05 13:43:26Z janj $
# $HeadURL: svn://svn.it.su.se/sua-entropy/trunk/debian/control $
#

Source: sua-entropy
Maintainer: IT och media <linux-sua@it.su.se>
Section: misc
Build-Depends: cdbs

Package: sua-entropy
Architecture: any
Description: Adds entropy from random.it.su.se.

