#!/usr/bin/make -f
#
# $Id: rules 18 2011-08-05 14:44:04Z janj $
# $HeadURL: svn://svn.it.su.se/sua-entropy/trunk/debian/rules $
#

DEB_DH_INSTALLINIT_ARGS += --no-start

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

DEB_MAKE_INSTALL_TARGET := install DESTDIR=$(CURDIR)/files

